<settings>
	<setting propertyKey="@Properties.Zielbereich1" title="@Strings.ZielbereichTitel1" prompt="@Strings.ZielbereichPrompt">
           <settingConfig type="list">
               <listEntry value="60">@Rez.Strings.opt_zielbereich_2</listEntry>
               <listEntry value="70">@Rez.Strings.opt_zielbereich_3</listEntry>
               <listEntry value="80">@Rez.Strings.opt_zielbereich_4</listEntry>
               <listEntry value="90">@Rez.Strings.opt_zielbereich_5</listEntry>
               <listEntry value="100">@Rez.Strings.opt_zielbereich_6</listEntry>
               <listEntry value="110">@Rez.Strings.opt_zielbereich_7</listEntry>
               <listEntry value="120">@Rez.Strings.opt_zielbereich_8</listEntry>
               <listEntry value="130">@Rez.Strings.opt_zielbereich_9</listEntry>
               <listEntry value="140">@Rez.Strings.opt_zielbereich_10</listEntry>
           </settingConfig>
	</setting>
	<setting propertyKey="@Properties.Zielbereich2" title="@Strings.ZielbereichTitel2" prompt="@Strings.ZielbereichPrompt">
           <settingConfig type="list">
               <listEntry value="100">@Rez.Strings.opt_zielbereich_6</listEntry>
               <listEntry value="110">@Rez.Strings.opt_zielbereich_7</listEntry>
               <listEntry value="120">@Rez.Strings.opt_zielbereich_8</listEntry>
               <listEntry value="130">@Rez.Strings.opt_zielbereich_9</listEntry>
               <listEntry value="140">@Rez.Strings.opt_zielbereich_10</listEntry>
               <listEntry value="150">@Rez.Strings.opt_zielbereich_11</listEntry>
               <listEntry value="160">@Rez.Strings.opt_zielbereich_12</listEntry>
               <listEntry value="170">@Rez.Strings.opt_zielbereich_13</listEntry>
               <listEntry value="180">@Rez.Strings.opt_zielbereich_14</listEntry>
               <listEntry value="190">@Rez.Strings.opt_zielbereich_15</listEntry>
               <listEntry value="200">@Rez.Strings.opt_zielbereich_16</listEntry>
           </settingConfig>
	</setting>
	<setting propertyKey="@Properties.Delay" title="@Strings.DelayTitel" prompt="@Strings.ZielbereichPrompt">
           <settingConfig type="list">
               <listEntry value="-10">@Rez.Strings.opt_delay_3</listEntry>
               <listEntry value="0">@Rez.Strings.opt_delay_4</listEntry>
               <listEntry value="10">@Rez.Strings.opt_delay_5</listEntry>
               <listEntry value="20">@Rez.Strings.opt_delay_6</listEntry>
               <listEntry value="30">@Rez.Strings.opt_delay_7</listEntry>
               <listEntry value="40">@Rez.Strings.opt_delay_8</listEntry>
               <listEntry value="50">@Rez.Strings.opt_delay_9</listEntry>
               <listEntry value="60">@Rez.Strings.opt_delay_10</listEntry>
           </settingConfig>
	</setting>
</settings>
