<settings>
	<setting propertyKey="@Properties.xDripSpike" title="@Strings.xDripSpikeTitle"  prompt="@Strings.AllgemeinPrompt">
    	<settingConfig type="list">
        	<listEntry value="0">@Strings.opt_xDripSpike_1</listEntry>
            <listEntry value="1">@Strings.opt_xDripSpike_2</listEntry>
            <listEntry value="2">@Strings.opt_xDripSpike_3</listEntry>
            <listEntry value="3">@Strings.opt_xDripSpike_4</listEntry>
        </settingConfig>   
    </setting>
    <setting propertyKey="@Properties.URL" title="@Strings.URLTitle"  prompt="@Strings.URLPrompt">
       	<settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.NsToken" title="@Strings.NsTokenTitle" prompt="@Strings.NsTokenPrompt">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.Einheiten" title="@Strings.EinheitenTitle">
        <settingConfig type="list">
           <listEntry value="2">@Strings.opt_einheit_2</listEntry>
           <listEntry value="0">@Strings.opt_einheit_0</listEntry>
           <listEntry value="1">@Strings.opt_einheit_1</listEntry>
        </settingConfig>
    </setting>
	<setting propertyKey="@Properties.Delay" title="@Strings.DelayTitel" prompt="@Strings.AllgemeinPrompt">
           <settingConfig type="list">
           	   <listEntry value="999">@Strings.opt_delay_0</listEntry>
               <listEntry value="-10">@Strings.opt_delay_3</listEntry>
               <listEntry value="0">@Strings.opt_delay_4</listEntry>
               <listEntry value="10">@Strings.opt_delay_5</listEntry>
               <listEntry value="20">@Strings.opt_delay_6</listEntry>
               <listEntry value="30">@Strings.opt_delay_7</listEntry>
               <listEntry value="40">@Strings.opt_delay_8</listEntry>
               <listEntry value="50">@Strings.opt_delay_9</listEntry>
               <listEntry value="60">@Strings.opt_delay_10</listEntry>
               <listEntry value="70">@Strings.opt_delay_11</listEntry>
               <listEntry value="80">@Strings.opt_delay_12</listEntry>
               <listEntry value="90">@Strings.opt_delay_13</listEntry>
               <listEntry value="100">@Strings.opt_delay_14</listEntry>
               <listEntry value="110">@Strings.opt_delay_15</listEntry>
               <listEntry value="120">@Strings.opt_delay_16</listEntry>                            
           </settingConfig>
	</setting>
	<setting propertyKey="@Properties.Notification" title="@Strings.NotificationTitle" prompt="@Strings.AllgemeinPrompt">
           <settingConfig type="list">
               <listEntry value="0">@Strings.opt_Notification_1</listEntry>
               <listEntry value="1">@Strings.opt_Notification_2</listEntry> 
           </settingConfig>
	</setting>
	<setting propertyKey="@Properties.eco" title="@Strings.ecoTitle" prompt="@Strings.AllgemeinPrompt">
           <settingConfig type="list">
               <listEntry value="0">@Strings.opt_eco_1</listEntry>
               <listEntry value="1">@Strings.opt_eco_2</listEntry> 
           </settingConfig>
	</setting>
	<setting propertyKey="@Properties.lowPowerMode" title="@Strings.lowPowerModeTitle" prompt="@Strings.AllgemeinPrompt">
           <settingConfig type="list">
               <listEntry value="0">@Strings.opt_lowPowerMode_1</listEntry>
               <listEntry value="1">@Strings.opt_lowPowerMode_2</listEntry> 
           </settingConfig>
	</setting>
</settings>
